Repository rastrr-editor/client: changes, and which lefthook commands are due for each by the changed paths.
All: format-and-lint, format

format-and-lint:
  run: npx prettier --write {staged_files} && npx eslint {staged_files}

format:
  run: npx prettier --write --ignore-unknown {staged_files}

Fix range onchange event
  src/features/dock-panels/layers/ui/layers-dock-panel-addons.svelte
  src/features/tools/brush/ui/brush-options-tooltip.svelte
  src/features/tools/eraser/ui/eraser-options-tooltip.svelte
  src/shared/ui/range/range.svelte
Due: format-and-lint

Remove migration comments
  src/entities/project/ui/project-card.svelte
  src/shared/ui/checkbox/checkbox.svelte
Due: format-and-lint

Update readme disclaimer
  README.md
Due: format

Disable warning for slow builds
  vite.config.ts
Due: format-and-lint

Stage files after formatting in lefthook
  lefthook.yml
Due: none

Minor fixes
  src/pages/main/model/update-viewport.ts
  src/pages/main/ui/main-page-canvas-container.svelte
  src/pages/main/ui/main-page.svelte
Due: format-and-lint

Improve create project feature
  src/features/create-project/config.ts
  src/features/create-project/index.ts
  src/features/create-project/model/create-draft.ts
  src/features/create-project/model/create-project.ts
  src/features/create-project/model/index.ts
  src/features/create-project/ui/create-project.svelte
Due: format-and-lint

Polish MainPageCanvasContainer
  src/pages/main/model/execute-command.ts
  src/pages/main/model/initialize-project.ts
  src/pages/main/model/update-viewport.ts
  src/pages/main/ui/main-page-canvas-container.svelte
  src/shared/lib/events/index.ts
Due: format-and-lint

Improve types
  src/entities/project/model/store.ts
  src/entities/tool/types.ts
Due: format-and-lint

Minor improvements for main page
  src/pages/main/ui/main-page-header.svelte
  src/pages/main/ui/main-page.svelte
Due: format-and-lint

Do not create draft project if there is an active project
  src/pages/main/model/initialize-project.ts
Due: format-and-lint

Add saveProject helper
  src/pages/main/model/save-project.ts
  src/pages/main/ui/main-page-header.svelte
Due: format-and-lint

Implement Ctrl+S hotkey
  src/pages/main/model/store.ts
Due: format-and-lint

Add hotkeys for shape tools
  src/features/tools/shape/model/ellipse/constants.ts
  src/features/tools/shape/model/rect/constants.ts
Due: format-and-lint

Create registerHotkeys helper
  src/pages/main/model/hotkeys/handle-history-hotkeys.ts
  src/pages/main/model/hotkeys/index.ts
  src/pages/main/model/hotkeys/register-hotkeys.ts
  src/pages/main/model/store.ts
  src/pages/main/ui/main-page.svelte
Due: format-and-lint

Show tools hotkeys
  src/entities/tool/ui/tool-help-tooltip.svelte
  src/pages/main/model/hotkeys/register-hotkeys.ts
Due: format-and-lint

Refactor main page and implemnt hotkeys for tools (#70)
  src/entities/project/model/store.ts
  src/entities/tool/types.ts
  src/entities/tool/ui/tool-help-tooltip.svelte
  src/features/create-project/config.ts
  src/features/create-project/index.ts
  src/features/create-project/model/create-draft.ts
  src/features/create-project/model/create-project.ts
  src/features/create-project/model/index.ts
  src/features/create-project/ui/create-project.svelte
  src/features/tools/shape/model/ellipse/constants.ts
  src/features/tools/shape/model/rect/constants.ts
  src/pages/main/model/execute-command.ts
  src/pages/main/model/hotkeys/handle-history-hotkeys.ts
  src/pages/main/model/hotkeys/index.ts
  src/pages/main/model/hotkeys/register-hotkeys.ts
  src/pages/main/model/initialize-project.ts
  src/pages/main/model/save-project.ts
  src/pages/main/model/store.ts
  src/pages/main/model/update-viewport.ts
  src/pages/main/ui/main-page-canvas-container.svelte
  src/pages/main/ui/main-page-header.svelte
  src/pages/main/ui/main-page.svelte
  src/shared/lib/events/index.ts
Due: format-and-lint

Implement simple router instead of svelte spa router
  package-lock.json
  package.json
  src/app/app.svelte
  src/app/routes.ts
  src/entities/project/ui/project-card.svelte
  src/entities/project/ui/project-list.svelte
  src/features/create-project/ui/create-project.svelte
  src/pages/main/model/store.ts
  src/pages/main/ui/main-page-header.svelte
  src/pages/main/ui/main-page.svelte
  src/shared/lib/actions/routing/index.ts
  src/shared/lib/actions/routing/link.ts
  src/shared/lib/router/index.ts
  src/widgets/about-modal/ui/about.svelte
Due: format-and-lint, format

Preserve viewport layers only for HMR
  src/pages/main/model/update-viewport.ts
Due: format-and-lint

Ditch the spa router (#71)
  package-lock.json
  package.json
  src/app/app.svelte
  src/app/routes.ts
  src/entities/project/ui/project-card.svelte
  src/entities/project/ui/project-list.svelte
  src/features/create-project/ui/create-project.svelte
  src/pages/main/model/store.ts
  src/pages/main/model/update-viewport.ts
  src/pages/main/ui/main-page-header.svelte
  src/pages/main/ui/main-page.svelte
  src/shared/lib/actions/routing/index.ts
  src/shared/lib/actions/routing/link.ts
  src/shared/lib/router/index.ts
  src/widgets/about-modal/ui/about.svelte
Due: format-and-lint, format

Move ProjectList to widgets
  src/entities/project/index.ts
  src/entities/project/model/repository/index.ts
  src/entities/project/model/store.ts
  src/entities/project/ui/project-list.svelte
  src/pages/main/ui/main-page.svelte
  src/widgets/project-list/config.ts
  src/widgets/project-list/index.ts
  src/widgets/project-list/model/actions.svelte.ts
  src/widgets/project-list/model/store.svelte.ts
  src/widgets/project-list/ui/project-context.svelte
  src/widgets/project-list/ui/project-list.svelte
  src/widgets/project-list/ui/project-sort.svelte
Due: format-and-lint

Update readme in project module
  src/entities/project/README.md
Due: format

Move project list to widgets (#73)
  src/entities/project/README.md
  src/entities/project/index.ts
  src/entities/project/model/repository/index.ts
  src/entities/project/model/store.ts
  src/entities/project/ui/project-list.svelte
  src/pages/main/ui/main-page.svelte
  src/widgets/project-list/config.ts
  src/widgets/project-list/index.ts
  src/widgets/project-list/model/actions.svelte.ts
  src/widgets/project-list/model/store.svelte.ts
  src/widgets/project-list/ui/project-context.svelte
  src/widgets/project-list/ui/project-list.svelte
  src/widgets/project-list/ui/project-sort.svelte
Due: format-and-lint, format

Fix hotkey manager for meta key in MacOS
  src/features/hotkeys-manager/config.ts
  src/features/hotkeys-manager/model/hotkeys-manager.ts
Due: format-and-lint

Prevent default for history hotkeys
  src/pages/main/model/hotkeys/handle-history-hotkeys.ts
Due: format-and-lint

Issues/72 (#74)
  src/features/hotkeys-manager/config.ts
  src/features/hotkeys-manager/model/hotkeys-manager.ts
  src/pages/main/model/hotkeys/handle-history-hotkeys.ts
Due: format-and-lint

Move modules from main page to features
  src/features/export-image/index.ts
  src/features/export-image/model/export-image.ts
  src/features/export-image/ui/export-image-dropdown.svelte
  src/features/save-project/index.ts
  src/features/save-project/model/index.ts
  src/features/save-project/model/save-project.ts
  src/features/save-project/ui/save-project-dropdown-item.svelte
  src/pages/main/model/hotkeys/register-hotkeys.ts
  src/pages/main/ui/main-page-header.svelte
  src/widgets/tool-panel/index.ts
  src/widgets/tool-panel/model/index.ts
  src/widgets/tool-panel/ui/tool-panel-dropdown-item.svelte
Due: format-and-lint

Remove main page types
  src/pages/main/types.ts
Due: format-and-lint

Path conditions:
  format-and-lint: any of: *.{ts,svelte}
  format: any of: *.{css,scss,json,svg,js,cjs,html,md}
